body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 18px;
    font-family: Georgia, serif;
    color: #333;
}

h1, h2, h3{
    line-height: 1.2;
}
h2 {
    font-size: 1.2em;
}

hr {
    display: block;
    height: 1px;
    margin: 1em 0;
    border: 0;
    border-top: 1px solid #bababa;
    padding: 0;
}

a, a:visited, a:active {
    color: #c32148;
    text-decoration: none;
}
a:hover {
    color: #851b38;
}

td:first-of-type {
    padding: 0;
}

header {
    background-color: #c32148;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}
header a, header a:visited, header a:active {
    line-height: 0;
    color: #fff;
}
header a:hover {
    color: #ccc;
}

.container {
    width: 80vw;
    max-width: 750px;
    margin: auto;
}
.align-right {
    margin-left: auto;
}

.header-align {
    display: flex;
    align-items: center;
}

.gaim-logo {
    width: 450px;
    max-width: 35vw;
    min-width: 200px;
}

.main {
    padding-bottom: 5vh;
}

#logo-img {
    padding: 15px 0;
    width: 250px;
    max-width: 15vw;
    min-width: 200px;
}

